.footer {
  background-color: #FFCC00;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20rem;
}

.footerContent{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
  width: 80%;
}

.footerContent h3{
  padding: 10px;
}

.footerContent li{
  list-style-type: none;
  color: #333333;
  padding: 10px;
}